body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  z-index: 1;
  margin-left: 0;
}

header a {
  text-decoration: underline;
  color: seashell;
  opacity: 0.9;
}

header img {
  height: 50px;
  margin-left: 10px;
}

footer {
  position: relative;
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

footer .copy {
  text-align: left;
  margin-left: 20px;
}

nav {
  margin-right: 10px;
}

nav a {
  margin: 0px 10px;
}

main {
  position: relative;
  top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mission {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

.banner {
  background-color: black;
  text-align: center;
  width: 100%;
}

#month {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin-bottom: 80px;
}

.tea-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-img img {
  height: 200px;
  width: 300px;
}

.box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  text-align: center;
}

.address {
  display: flex;
  justify-content: space-around;
}

.address div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 300px;
  height: 300px;
}

.locations h2 {
  margin: 80px 0 0 0;
}
